<!-- Home: short bio + profile photo. -->
<img class="profile-pic" src="{{ '/assets/img/prof_pic.jpg' | relative_url }}" alt="Jocelyn McKnight">

<p>
  Jocelyn McKnight is an undergraduate student currently pursuing a BA, majoring in
  English Language Arts, with a French minor at the University of Lethbridge. Her
  honour's thesis is focused on semantic changes in war and violence vocabulary in
  Tok Pisin, a mixed English and Indigenous language in Papua New Guinea. Jocelyn is
  involved in the Visionary Cross Project, works as an undergraduate TA in the
  Linguistics and Modern Language Department, and serves as an instructional designer
  for online secondary schooling in Alberta. Her academic interests revolve around
  Old English philology, linguistics related to endangered languages, and digital
  humanities.
</p>
