<!-- Home: short bio + profile photo. -->
<img class="profile-pic" src="{{ '/assets/img/prof_pic.jpg' | relative_url }}" alt="Jocelyn McKnight">

<p>
  Jocelyn McKnight is a recent graduate from the University of Lethbridge, where she earned a 
  BA in English, with minors in French and Linguistics. Her academic interests revolve around 
  Old English philology, linguistics of all kinds, and Digital Humanities. More specifically 
  her research is focused on Cognitive Semantics. Jocelyn's honours thesis is focused on polysemic 
  extensions of war and violence vocabulary in Tok Pisin, a mixed English and Indigenous language 
  in Papua New Guinea. Jocelyn is currently an RA for the Visionary Cross Project and the Blackfoot 
  Language Archive, but has also works as an TA in the Linguistics and Modern Language Department 
  and served as an instructional designer for online secondary schooling in Alberta. Jocelyn is 
  excited to begin her MPhil in Linguistics at the University of Hong Kong in fall 2026.
</p>
