<!-- Home: ways to find Jocelyn online. -->
<h3>Find me online</h3>

<ul>
  <li>Email: <a href="mailto:jocelyn.mcknight@uleth.ca">jocelyn.mcknight@uleth.ca</a></li>
  <li>GitHub: <a href="https://github.com/Jocelyn-McKnight">Jocelyn-McKnight</a></li>
  <li>LinkedIn: <a href="https://www.linkedin.com/in/jocelyn-mcknight">jocelyn-mcknight</a></li>
  <li>ORCID: <a href="https://orcid.org/0009-0006-5636-2854">0009-0006-5636-2854</a></li>
  <li><a href="https://zenodo.org/search?q=metadata.creators.person_or_org.name%3A%22McKnight%2C%20Jocelyn%22&l=list&p=1&s=10&sort=bestmatch">Zenodo publications</a></li>
</ul>
