/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #ff4d4d; // Optional Red
$red-color-dark: #b71c1c;

$orange-color: #ffa500; // Gold-Orange Accent
$blue-color: #f4b400; // Gold for Primary Links/Buttons
$blue-color-dark: #d39e00; // Darker Gold for Hover

$cyan-color: #ffeb99; // Light Yellow-Gold (Accent or Info)
$green-color: #11d68b; // Optional Success Green
$green-color-dark: #0a9f60;
$purple-color: #f4b400; // Use Gold as Primary Theme Color
$pink-color: #f92080;
$yellow-color: #ffd700; // Bright Gold for Highlights

$grey-color: #cccccc; // Light Grey Text (If needed)
$grey-color-light: #999999;
$grey-color-dark: #333333; // Dark Grey for subtle elements

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
