/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #ff4d4d !default; // Optional Red
$red-color-dark: #b71c1c !default;

$orange-color: #ffa500 !default; // Gold-Orange Accent
$blue-color: #f4b400 !default; // Gold for Primary Links/Buttons
$blue-color-dark: #d39e00 !default; // Darker Gold for Hover

$cyan-color: #ffeb99 !default; // Light Yellow-Gold (Accent or Info)
$light-cyan-color: #fff0b4;
$green-color: #11d68b !default; // Optional Success Green
$green-color-lime: #b7d12a !default;
$green-color-light: #ddffdd !default;
$green-color-dark: #0a9f60 !default;
$purple-color: #f4b400 !default; // Use Gold as Primary Theme Color
$light-purple-color: #f4bc1e;
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #ffd700 !default; // Bright Gold for Highlights

$grey-color-light: #ababab;
$grey-color: #cccccc !default; // Light Grey Text (If needed)
$grey-color-dark: #333333; // Dark Grey for subtle elements
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-dark: #2c3237 !default;
$code-bg-color-light: #rgba !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
